extends ../layout/common
block content    
    h1 Add New Book
    if errors
        each error in errors
            .alert.alert-danger(role='alert')=error.msg
    form(action="/books/add", method="POST")
        div(class="form-group")
            label(for="title") Title
            input(type="text", name="title", playholder="title", class="form-control", value= values ? values.title : "")
        div(class="form-group")
            label(for="description") Description
            input(type="text", name="description" playholder="description", class="form-control", value= values ? values.description : "")
        button(class="btn btn-primary") Add new